<h2>Crear Cuenta</h2>

<form method="post">
    <label>Saldo inicial</label><br />
    <input type="number" name="saldoInicial" step="0.01" required /><br /><br />

    <button type="submit">Crear</button>
</form>

<a href="/Cuenta/Index">Volver</a>
