@model FintechApp.Models.Cliente

<h2>Nuevo Cliente</h2>

<form method="post">
    <input name="Nombre" placeholder="Nombre" /><br />
    <input name="Apellido" placeholder="Apellido" /><br />
    <input name="DNI" placeholder="DNI" /><br />
    <input name="Email" placeholder="Email" /><br />
    <input name="Password" type="password" placeholder="Password" /><br />
    <button type="submit">Guardar</button>
</form>
